<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find robot)/urdf/model.urdf'" output="screen"/>
    <arg name="rviz_config_file" default="$(find robot)/config/robots.rviz"/>   args="-d $(arg rviz_config_file)"
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
    <arg name="use_gui" default="true" doc="Should the joint_state_publisher use a GUI for controlling joint states" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" unless="$(arg use_gui)" />
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg use_gui)" />
    <node pkg="rviz" type="rviz" name="rviz" output="screen"/>
        

</launch>
